@font-face {
    font-family: 'Raleway', sans-serif;
  }
  



body{
    background: rgb(206, 206, 206);
}
table{
    height: 40%;
}
thead th{
    background-color: #88CCF1;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}
tr {
    background-color: rgb(204, 247, 220);
    text-align: left;
}
td{
    padding: 5px;
}
